<template>
  <v-app v-resize="onResize" v-scroll="onScroll" app>
    <v-navigation-drawer
      v-model="drawer"
      fixed
      temporary
      :class="drawer ? 'elevation-15' : ''"
      app
    >
    <v-row no-gutters class="fill-height">
      <v-card text tile style="width: 100% !important" class="d-flex flex-column">
        <v-list nav dense>
          <v-list-item-group>
            <v-list-item-content class="mb-3 ml-2">
              <v-row>
                <v-col cols="12">
                  <v-list-item-group>
                    <!-- <v-list-item v-for="(item, i) in headerItems"
                      :key="i"
                      router
                      exact
                    >
                      <HeaderButton :item="item" @check-route="checkRoute" @new-tab="newTab"/>
                    </v-list-item> -->
                  </v-list-item-group>
                </v-col>
              </v-row>
            </v-list-item-content>
          </v-list-item-group>
        </v-list>
      </v-card>
    </v-row>
    </v-navigation-drawer>
    <v-app-bar
      dense
      fixed
      app
    >
      <v-app-bar-nav-icon v-if="mobile" @click.stop="drawer = !drawer" />
      <v-toolbar-title class="pl-0" @click="checkRoute('/')" @click.middle="newTab('/')" style="cursor: pointer !important">
        Group 3 - PBL Software Development
      </v-toolbar-title>
      <v-spacer />
      <v-row class="justify-center">
        <v-list-item-group v-if="!mobile">
          <v-row no-gutters>
          <v-col v-for="(item, i) in headerItems" :key="i">
          <!-- <v-list-item
            class="pa-0"
            router
            exact
          >
            <HeaderButton :item="item" @check-route="checkRoute" @new-tab="newTab"/>
          </v-list-item> -->
        </v-col>
        </v-row>
        </v-list-item-group>
      </v-row>
      <v-spacer />
      <v-fade-transition leave-absolute>
        <VIconTooltip
          v-if="$vuetify.theme.dark"
          @click="toggleTheme"
          icon-class="mr-1"
        >
          <template v-slot:description>Dark Mode</template>
          <template v-slot:icon>mdi-weather-night</template>
        </VIconTooltip>
        <VIconTooltip
          v-else
          @click="toggleTheme"
          icon-class="mr-1"
        >
          <template v-slot:description>Light Mode</template>
          <template v-slot:icon>mdi-weather-sunny</template>
        </VIconTooltip>
      </v-fade-transition>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
        <v-fab-transition>
          <v-btn
            v-show="!hidden"
            color="#00BFA5"
            fab
            dark
            small
            fixed
            bottom right
            class="mb-5"
            @click="$vuetify.goTo('#top')"
          >
            <v-icon>mdi-chevron-up</v-icon>
          </v-btn>
        </v-fab-transition>
      </v-container>
    </v-content>
    <v-footer app>
      <v-row justify-center>
        <span class="body-2">Group 3 - Leon, Lukas and Rotem &copy; 2020 TUHH - Software Development</span>
      </v-row>
    </v-footer>
    <v-snackbar
      v-model="globalSnack"
      :color="globalSnackType"
    >
      {{ globalSnackMessaage }}
    </v-snackbar>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

//import HeaderButton from '@/components/HeaderButton'

import { VIconTooltip } from 'vicontooltip'

export default {
  scrollToTop: true,
  directives:{
    scroll: {
      inserted: function (el, binding) {
        let f = function (evt) {
          if (binding.value(evt, el)) {
            window.removeEventListener('scroll', f)
          }
        }
        window.addEventListener('scroll', f)
        }
    }
  },
  components: {
    //HeaderButton,
    VIconTooltip
  },
  mounted(){
    this.onResize()
  },
  computed:{
    ...mapState(['globalSnackType', 'globalSnackMessaage']),
    globalSnack: {
      get() {
        return this.$store.state.globalSnackModel
      },
      set(value) {
        this.$store.dispatch('updateGlobalSnack', {show:value})
      }
    },
    hoverColor(){
      if(this.hover)
        return 'light-blue--text'
      if(this.carouselTheme)
        return 'black--text'
      else
        return 'white--text'
    }
  },
  methods:{
    onResize(){
      if(window.innerWidth < 1100)
        this.mobile = true
      else
        this.mobile = false
    },
    onScroll(evt, el){
      if(window.scrollY >= 150)
        this.hidden = false
      else
        this.hidden = true
    },
    checkRoute(dest){
      this.$router.push({path: dest})
    },
    path(){
      if(this.$router.currentRoute.fullPath[1] !== '#')
        return `${this.$router.currentRoute.fullPath}#top`
      return '#top'
    },
    show(v){
      if(v === '#' && this.$route.path != '/')
        return false
      return true
    },
    newTab(path){
      window.open(path, '_blank')
    },
    toggleTheme(){
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
    }
  },
  data: () => ({
    mobile: false,
    drawer: false,
    fixed: false,
    hidden: true,
    hover: false,
    headerHover: false,
    backgroundUrl: '/images/2.jpg',
    //[{name: .., href: ..}, ..]
    headerItems: [],
  })
}
</script>
