<template>
  <v-hover>
    <div class="listlink" slot-scope="{ hover }">
      <v-fade-transition mode="out-in">
        <v-icon small style="position: absolute; padding-right: 15px; margin-top: 5px" v-show="hover" :color="color(hover)">{{icon}}</v-icon>
      </v-fade-transition>
      <v-btn
        class="buttonlink"
        :color="color(hover)"
        :style="pad"
        text small
        depressed
        @click="clicked"
        @click.middle="clickedMiddle">
          {{item.name}}
      </v-btn>
    </div>
  </v-hover>
</template>

<script>
export default{
  props: {
    item:{
      rquired: true
    }
  },
  computed:{
    icon(){
      return this.item.href[0]==='#' ? 'mdi-pound' : 'mdi-slash-forward'
    },
    pad(){
      return 'min-width: 0; padding-left: ' + (this.item.href[0]==='#' ? '15px' : '10px')
    }
  },
  methods:{
    clicked(){
      if(this.item.href[0]==='#') return this.$vuetify.goTo(this.item.href, {duration: 1000})
      this.$emit('check-route', this.item.href)
    },
    clickedMiddle(){
      if(this.item.href[0]==='#') return
      this.$emit('new-tab', this.item.href)
    },
    color(h){
      return h ? 'white' : this.$vuetify.theme.dark ? 'white' : '#263238'
    }
  }
}
</script>

<style>
.buttonlink:before {
  display: none;
}
.listlink.v-list-item--link:before {
  display: none
}
</style>
